.App {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}
html {
  height: 100%;
  width:auto;
  background-size: 100%;
  background-color: rgb(59, 193, 202)
}
body{
  height:100%;
  background-image: url("./img/fondo.jpg");
  background-size: 100%;
}
@media only screen and (max-width: 500px) {
   
  .App{
    height:110%;
    background-color: #00000000;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
